*{
    margin: 0;
    padding: 0;
}

h1 {
  text-align: center;
  padding: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
}

section {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  width: 95%;
}

.parrafo {
  align-items: center;
}

p {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: justify;
  width: 95%;
}

#video_nosotros {
  align-items: center;
  justify-content: center;
  padding-right: 1rem;
  margin-left: 1rem;
}




@media (max-width: 1070px) {

  section {
    flex-direction: column;
    width: 95%;
  }

  p{
    padding: 1rem;
  }
  
  #video_nosotros {
    display: flex;
    width: 98%;
  }

}


@media (max-width: 710px) {

    section {
        flex-direction: column;
        width: 90%;
      }
  
    p{
      padding-bottom: 1rem;
    }
    
    #video_nosotros {
      width: 95%;
    }
  
  }

  @media (max-width: 480px) {

    h1 {
        width: 100%;
    }

    section {
        flex-direction: column;
        width: 90%;
      }

    #SocialMedia {
        width: 100%;
        padding: 1rem;
    }

    #video_nosotros {
        width: 95%;
      }
  
  }

  @media (max-width: 399px) {

    #navbar-container{
        width: 120%;

    }

    h1 {
        width: 110%;
    }

    section {
        flex-direction: column;
        width: 100%;
      }

    #video_nosotros {
        width: 95%;
      }

      #SocialMedia {
        width: 110%;
        padding: 2rem;
    }
  
  }